%h1 Roast Levels

%table.table
  %thead
    %tr
      %th Name
      %th
      %th

  %tbody
    - @roast_levels.each do |roast_level|
      %tr
        %td= roast_level.name
        %td= link_to 'Show', roast_level
        %td= link_to 'Edit', edit_roast_level_path(roast_level)

%br

= link_to 'New Roast level', new_roast_level_path
