%p#notice= notice

.container
  =render 'card', bean: @bean, show_avg: true

  -distribution = rating_distribution(@bean.id)
  .row
    .col-md-4.col-sm-12
      %b Ratings Breakdown
      %table.table.table-bordered
        %thead
          %tr
            -distribution.each_with_index do |_, index|
              %th=index + 1
        %tbody
          %tr
            -distribution.each do |votes|
              %td=votes